<a href="https://colab.research.google.com/github/funkekurt/collaboration/blob/main/Colab_Anleitung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Complet Google Colab Tutorial**
https://youtu.be/agj3AxNPDWU

## Meine Aufzeichnungen
https://docs.google.com/document/d/1yuQVtMrAljJownsPI6ml8I32QCgdbG5PPUjfqP_9LCc/edit#heading=h.a9u5fdbhh14x

##  Meine github Verzeichnis
https://github.com/funkekurt/collaboration/blob/main/Colab_Anleitung.ipynb

In [ ]:
print("Hallo world!")

Hallo world!

# **Getting data into Google Colab**
## | CSV | Files | Images | Drive Github
https://youtu.be/58t0PFIWR9Y


---

Upload from

*   Public Link
*   Google Drive
*   Github Link
*   Local Drive file

# Public Link

In [14]:
!wget https://drive.google.com/file/d/10Lsr1MvgORJl_XOv8LfrKXW9Hy-FcbOr/view?pli=1

--2023-07-01 08:00:03--  https://drive.google.com/file/d/10Lsr1MvgORJl_XOv8LfrKXW9Hy-FcbOr/view?pli=1
Resolving drive.google.com (drive.google.com)... 74.125.20.113, 74.125.20.139, 74.125.20.102, ...
Connecting to drive.google.com (drive.google.com)|74.125.20.113|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘view?pli=1’

view?pli=1              [ <=>                ]  78.03K  --.-KB/s    in 0.005s

2023-07-01 08:00:04 (15.9 MB/s) - ‘view?pli=1’ saved [79900]

In [11]:
!ls

 4aa5b471860321d7b47fd881898162b7     sample_data
 4aa5b471860321d7b47fd881898162b7.1   titanic.csv
'download?datasetVersionNumber=1'

In [3]:
import pandas as pd

In [16]:
pd.read_csv('titanic.csv', sep='\t').head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Google Drive

### Github Link

In [ ]:
!git clone https:// ... xyz.git

### Local Drive